spring:
  application:
    name: PortfolioService
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/portfoliodb}
    username: ${DATABASE_USERNAME:postgres}
    password: ${DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  
  cloud:
    consul:
      host: ${CONSUL_HOST:localhost}
      port: ${CONSUL_PORT:8500}
      discovery:
        enabled: true
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}:${random.value}
        prefer-ip-address: true

  ai:
    google:
      genai:
        api-key: ${GOOGLE_AI_API_KEY:your_gemini_api_key_here}
        chat:
          options:
            model: gemini-2.0-flash-lite-preview-02-05

server:
  port: ${SERVER_PORT:8081}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
