management:
  endpoints:
    web:
      exposure:
        include: info,health,prometheus,metrics

---
spring:
  application:
    name: AGW
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:3000"
              - "http://localhost:5173"
              - "http://localhost:4000"
              - "https://profolio.naammmdz.id.vn"
              - "${PUBLIC_URL:}"
            allowedMethods: 
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: 
              - "*"
              - "Authorization"
            allowCredentials: true
            maxAge: 3600
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-server
          uri: lb://authorization-server
          predicates:
            - Path=/.well-known/**, /api/auth/**, /oauth2/**, /login/**, /userinfo/**
        
        - id: portfolio-service
          uri: lb://PortfolioService
          predicates:
            - Path=/api/v1/portfolio/**, /api/v1/cv/**, /api/v1/personality/**, /api/v1/questions/**, /api/v1/public/**
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
    loadbalancer:
      ribbon:
        enabled: false
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
        prefer-ip-address: true
        register: false
        register-health-check: false
      config:
        enabled: false
      retry:
        enabled: true
        initial-interval: 1000
        max-attempts: 6

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${AUTH_SERVER_ISSUER_URI:http://localhost:9000}

server:
  port: ${SERVER_PORT:8080}
  forward-headers-strategy: framework
  ssl:
    enabled: false
